<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <!-- <link rel="stylesheet" href="vendors/css/bootstrap.min.css"/> -->
    <link rel="stylesheet" href="vendors/css/custom.css"/>
    <!-- <link rel="icon" href=""> -->
    <link rel="stylesheet" href="dist/css/main.css"/>
    <meta charset="UTF-8">
    <title>NetMedia</title>
</head>
<script src="vendors/js/jquery-2.1.3.min.js"></script>
<script src="vendors/js/bootstrap.min.js"></script>

<body ng-app="netMediaApp">

<header class="container page-header">
    <img src="images/logo-netmedia-ok.png" class="logo-accueil"/>
    <div class="menu-navigation">
        <a class="" href="">DÉCOUVRIR</a>
        <a class="selected" href="#/films">FILMS</a>
        <a class="" href="#/series">SÉRIES</a>
    </div>

    <!-- <div class="filters-search-user">
        <div class="filters">
            <span class="genre">Genre : </span>
            <select>
                <option value="">Tous</option>
                <option value="action">Action</option>
                <option value="aventure">Aventure</option>
                <option value="comedie">Comédie</option>
                <option value="horreur">Horreur</option>
            </select>
            <span class="genre">Trier par : </span>
            <select>
                <option value="popularite">Popularité</option>
                <option value="note">Note</option>
                <option value="annee">Année</option>
            </select>
        </div>
        <div class="search">
            <input type="search" placeholder="Titre, acteur ..." name="the_search">
        </div>
        <div class="user">
            <img class="user-img" src="images/placeholder.png"/>
            <div class="user-name">User Name</div>
        </div>
    </div> -->


    <!--   <form style="width:450px;margin:5px;padding:15px;border:solid 1px black;background-color:#68228B">
        <label style="color:white">Tri par genre : </label>
        <select class="form-control" 
                ng-change="genre(value)"
                ng-model="value"
                ng-options="genre.id as genre.name for genre in listGenre.genres"
            >
            <option value="">Triez par genre</option>
        </select>
        <hr>
        <label style="color:white">Recherche : </label>
        <input  class="btn" style="width:100%"
                ng-change="search(searchValue)"
                ng-model="searchValue">
    </form> -->

</header>

</div>

<section class="container">
    <ng-view></ng-view>
</section>

<footer class="container text-center">

</footer>
</body>

<script>
 window.fbAsyncInit = function() {
   FB.init({
     appId      : '375442245978064',
     xfbml      : true,
     version    : 'v2.3'
   });
 };

 (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
<script src="vendors/js/angular.min.js"></script>
<script src="vendors/js/angular-route.min.js"></script>
<script src="vendors/js/fb.js"></script>

<!-- <script src="scripts/core/filters/capitalize.js"></script> -->

<script src="src/movies/app.js"></script>

<script src="src/movies/controllers/moviesCtrl.js"></script>
<script src="src/movies/controllers/LoginCtrl.js"></script>

<script src="src/movies/controllers/seriesCtrl.js"></script>
<script src="src/movies/directives/movieBlock.js"></script>
<script src="src/movies/directives/presenter.js"></script>

<script src="src/movies/services/movie.js"></script>
<script src="src/movies/services/serie.js"></script>
<script src="src/movies/services/urlConfig.js"></script>
<script src="//cdn.jsdelivr.net/satellizer/0.11.1/satellizer.min.js"></script>


</html>
