

.container {
    width: 100%;
    margin: 0;
    padding: 0;
}

.headerContent {
    position: relative;
    height: 433px;
    overflow:  hidden;
}

.gradient {
    position : absolute;
    height : 408px;
    top: 10;
    left: 0;
    width: 100%;
    z-index: 2;
}

.backdropImg {
    background-position : center top;
    background-size : cover;
    position : absolute;
    height : 400px;
    -webkit-filter : blur(5px);
    top: 10;
    left: 0;
    width: 100%;
    z-index: 1;
}

.infoPoster {
    position:relative;
    width:auto;
}
.posterContent {
    position: relative;
    margin-top: -245px;
    margin-left: 92px;
    z-index: 2;
    max-width: 265px;
}

.posterImg {
    max-width:100%;
}

.contentTvMovieInfo {
    position:absolute;
    top:0px;
    left: 400px;
    z-index: 2;
    width:auto;
}

.titleTvMovie {
    position: relative;
    margin: 20px;
    margin-left:0px;
    z-index: 2;
}

.detailTvMovie {
    position: relative;
    margin: 20px;
    margin-left:0px;
    z-index: 2;
}

.detailTvMovie  li {
    display: inline;
    float:left;
    margin-top: 20px;
    margin-bottom: 40px;
}

.popularityStar {
    position: relative;
    text-align: left;
    width:50px;
    margin-top: 50px;
    margin-bottom: 25px;
}

.castings {
    position : relative;
    margin-top: 80px;
}

.castBy {
    float: left;
    margin-right: 15px;
}

.castByActor {
    position: absolute;
    left : 110px;
    width: 850px;
}

.castByResult {
    position: relative;
    margin-left : 90px;
}

.actionInternaute {
    padding-top: 50px;
    position:relative;
    width: 100%;
}

.favoriteAdd {
    position:relative;
    float:left;
    display: inline-block;
}

.reloadMovie {
    display:inline-block;
    position: relative;
    float: left;
}

.contentTvMovie {
    width: 100%;
    position: relative;
    padding-left: 95px;
    padding-right:95px;
}

.contentSynopsisTvMovieMarge {
    position:relative;
    width: 80%;

}

.bigContentPageTvMovie{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.synopsisFont {
    float:left;
    position: absolute;
    top: -50px;
    margin-left: 65px ;
    left: 0;
}

.seasonSelectBarSerie {
    margin-left: 65px;
}

.resumeTvMovieSerie {
    margin-bottom:20px;
    width:90%;
    margin-left: 65px;
    float:left;
}

.seasonFont {
    margin-top:5px;
    margin-left: 20px;
    width:auto;
    display:inline;
}

.seasonFont a{
 text-decoration:none;

}

.seasonNumberFont{
    position:relative;
    height:35px;
    line-height:35px;
    text-align:center;
    background-color: $primaryColor;
    margin: 10px 10px;
    background:none;
    border:none;
    padding-bottom:20px !important;
    width:20px;
}

.seasonNumberFont:hover{
    background-color: #2d2d2d;
}

.separatorSeason {
    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    color: $secondaryColor;
    border-color: $secondaryColor;
    height:2,5px;
}

.separatorEpisode {
    margin: 0;
    margin-top: 35px;
    margin-bottom: 35px;
    color: $thirdColor;
    border-color: $thirdColor;
    height:2,5px;
    width:100%;
}

.contentEpisode {
    width:80%;
    padding-top:35px;
}

.episodeNumeroFont {
    width: 200px;
}

.contentEpisodeOverview {
    position:relative;
    height: auto;
    padding-top:25px;
    padding-bottom:25px;
    margin-left: 75px;
    width:70%;
}

.fontEpisodeTvSerie{
    color: $secondaryColor;
}

.fontNameEpisode {
    padding-left:20px;
}

.episodeFontTv  {
    margin-bottom:50px;
}

.contentEpisodeMarge {
    margin-left: 65px;
    margin-right:65px;
}

.clearfix {
    clear:both;
}
