
    <div class="panel-heading">
        <div class="cbp-spmenu-push">
            <!-- Début menu à gauche qui slide -->
            <nav class="cbp-spmenu cbp-spmenu-vertical" id="cbp-spmenu-s1">
                <img src="images/logo-netmedia-ok.png" class="logo-accueil"/>
                <div class="menu-navigation">
                    <a class="selected" href="#/films" style="color:#000">FILMS</a>
                    <a class="" href="#/series">SÉRIES</a>
                </div>
                <div class="filters filters-menu-left">
                    <label class="genre">Genre : </label>
                    <select class="form-control"
                            ng-change="genre(value)"
                            ng-model="value"
                            ng-options="genre.id as genre.name for genre in listGenre.genres"
                        >
                        <option value="">Tous</option>
                    </select><br/><br/><br/><br/>
                    <label class="genre">Trier par : </label>
                    <select
                            ng-change="category(value,1)"
                            ng-model="value"
                            ng-options="key as value for (key, value) in categories"
                        >
                        <option value="">Tous</option>
                    </select>
                </div>
                <br/><br/><br/>
                <div class="search">
                    <input  class="btn" style="width:92%"
                        ng-change="search(searchValue)"
                        ng-model="searchValue" type="search">
                </div>
                <br/><br/><br/><br/>
                <div class="user">
                    <a href="#/profil">
                        <img class="user-img" src="images/placeholder.png"/>
                        <div class="user-name">User Name</div>
                    </a>
                </div>
            </nav>
            <!-- Fin menu à gauche qui slide -->
            <!-- <div class="container">
                <div class="main">
                    <section>
                        <header class="container page-header">
                            <img src="images/logo-netmedia-ok.png" class="logo-accueil"/>
                            <div class="menu-navigation">
                                <a class="" href="">DÉCOUVRIR</a>
                                <a class="selected" href="#/films">FILMS</a>
                                <a class="" href="#/series">SÉRIES</a>
                            </div>
                            <img id="showLeft" src="images/burger-menu.png"/ class="burger-menu"/>
                            <nav class="left-menu">
                            </nav>
                            <form style="width:370px" class="filters-search-user">
                                <div class="filters-search-user">
                                    <div class="filters">
                                        <label class="genre">Genre : </label>
                                        <select class="form-control" style="width:106px"
                                                ng-change="genre(value)"
                                                ng-model="value"
                                                ng-options="genre.id as genre.name for genre in listGenre.genres"
                                            >
                                            <option value="">Tous</option>
                                        </select>
                                        <label class="genre">Trier par : </label>
                                        <select
                                                ng-change="category(value,1)" style="width:120px"
                                                ng-model="value"
                                                ng-options="key as value for (key, value) in categories"
                                            >
                                            <option value="">Tous</option>
                                        </select>
                                    </div>
                                    <div class="search">
                                    <input  class="btn" style="width:100%"
                                            ng-change="search(searchValue)"
                                            ng-model="searchValue" type="search">
                                    </div>
                                    <div class="user">
                                        <img class="user-img" src="images/placeholder.png"/>
                                        <div class="user-name">User Name</div>
                                    </div>
                                </div>
                            </form>
                        </header>
                    </section>
                </div>
            </div> -->
        </div>
    </div>
    <!-- <h3 class="panel-title panel-title title--inline">Liste des Films Populaires | <a href="#/films">Films</a> | <a href="#/series">Series</a> </h3> -->
     <!-- <div id="page">
            <div class="header Fixed">
                <a href="#menu"></a>

                <div class="logo"><img src="images/logo-netmedia-ok.png" width="120" height="auto"></div>

                <ul class="onglets">

                    <li><a href="#">DÉCOUVRIR</a></li>
                    <li><a href="#/films">FILMS</a></li>
                    <li><a href="#/series">SÉRIES</a></li>

                </ul>
            </div>

            <nav id="menu">
                <ul>
                    <li><a href="#content">Introduction</a></li>
                    <li><a href="#first">First section</a></li>
                    <li><a href="#second">Second section</a></li>
                    <li><a href="#third">Third section</a></li>
                </ul>
            </nav>
        </div>  -->
    <!--  <form style="width:370px" class="filters-search-user">
        <div class="filters-search-user">
        <div class="filters">
        <label class="genre">Genre : </label>
        <select class="form-control" style="width:106px"
                ng-change="genre(value)"
                ng-model="value"
                ng-options="genre.id as genre.name for genre in listGenre.genres"
            >
            <option value="">Tous</option>
        </select>
        <label class="genre">Trier par : </label>
        <select
                ng-change="category(value,1)" style="width:120px"
                ng-model="value"
                ng-options="key as value for (key, value) in categories"
            >
            <option value="">Tous</option>
        </select>

        </div>
        <div class="search">
        <input  class="btn" style="width:100%"
                ng-change="search(searchValue)"
                ng-model="searchValue" type="search">
        </div>
        <div class="user">
            <img class="user-img" src="images/placeholder.png"/>
            <div class="user-name">User Name</div>
        </div>
    </div>
    </form>  -->

    <!--
    tibo navbar
    <form style="width:450px;margin:5px;padding:15px;border:solid 1px black;background-color:#68228B">
        <label style="color:white">Tri par genre : </label>
        <select class="form-control"
                ng-change="genre(value)"
                ng-model="value"
                ng-options="genre.id as genre.name for genre in listGenre.genres"
            >
            <option value="">Triez par genre</option>
        </select>
        <hr>
        <label style="color:white">Recherche : </label>
        <input  class="btn" style="width:100%"
                ng-change="search(searchValue)"
                ng-model="searchValue">
    </form>  -->
<div class="panel panel-primary">
    <div class="panel-body">

        <div ng-if="movies.total_results==0"> Aucun film n'a été trouvé lors de votre recherche</div>

        <div ng-repeat="movie in movies.results | orderBy: query.order" movie="movie" class="movie-block">
            <div class="col-sm-6 col-md-4">
                <div class="pull-right" ng-switch on="movie.status">
                    <span ng-switch-when="0" class="label label-success">Disponible</span>
                    <span ng-switch-when="1" class="label label-warning">Occupé(e)</span>
                    <span ng-switch-when="2" class="label label-danger">Blessé(e)</span>
                </div>
                <div class="thumbnail">
                  <img ng-if="movie.poster_path!=null" src="http://image.tmdb.org/t/p/w500{{movie.poster_path}}" class="image-thumbnail" ng-click="showMovie(movie.id)">
                  <img ng-if="movie.poster_path==null" src="http://image.eiga.k-img.com/images/buzz/29346/darthvader.jpg" class="image-thumbnail" ng-click="showMovie(movie.id)">

                    <!-- <img src="http://image.tmdb.org/t/p/w500{{movie.backdrop_path}}" class="image-thumbnail">  -->
                    <div class="caption">
                        <!-- <p>adult : {{movie.adult}}</p> -->
                        <h2 class="title-home">{{movie.title | limitTo:20}}</h2>
                       <!--  <p>original_title : {{movie.original_title}}</p>
                        <p>id : {{movie.id}}</p>
                        <p>genre_ids : <ul><li ng-repeat="(key, genre) in movie.genre_ids">{{genre}} (traité TpH : {{ genreList[genre] }} )</li></ul></p>
                        <p>vote_average : {{movie.vote_average}}</p>
                        <p>original_language : {{movie.original_language}}</p> -->
                        <h4 class"title-details">{{movie.release_date | limitTo:4}}</h4>
                       <!--  <p>overview : {{movie.overview}}</p>
                        <p>popularity : {{movie.popularity}}</p>
                        <p>video : {{movie.video}}</p>
                        <p>vote_average : {{movie.vote_average}}</p>
                        <p>vote_count : {{movie.vote_count}}</p> -->
                        <!-- <button class="btn btn-primary" >Regarder</button> -->
                    </div>
                </div>
            </div>
        </div>

    <div ng-repeat="movies in movies.more | orderBy: query.order" movie="movie" >
        <div ng-repeat="movie in movies | orderBy: query.order" movie="movie" class="movie-block">
            <div class="col-sm-6 col-md-4">
                <div class="pull-right" ng-switch on="movie.status">
                    <span ng-switch-when="0" class="label label-success">Disponible</span>
                    <span ng-switch-when="1" class="label label-warning">Occupé(e)</span>
                    <span ng-switch-when="2" class="label label-danger">Blessé(e)</span>
                </div>
                <div class="thumbnail">
                  <img ng-if="movie.poster_path!=null" src="http://image.tmdb.org/t/p/w500{{movie.poster_path}}" class="image-thumbnail" ng-click="showMovie(movie.id)">
                  <img ng-if="movie.poster_path==null" src="http://image.eiga.k-img.com/images/buzz/29346/darthvader.jpg" class="image-thumbnail" ng-click="showMovie(movie.id)">
                    <!-- <img src="http://image.tmdb.org/t/p/w500{{movie.backdrop_path}}" class="image-thumbnail">  -->
                    <div class="caption">
                        <!-- <p>adult : {{movie.adult}}</p> -->
                        <h2 class="title-home">{{movie.title | limitTo:20}}</h2>
                       <!--  <p>original_title : {{movie.original_title}}</p>
                        <p>id : {{movie.id}}</p>
                        <p>genre_ids : <ul><li ng-repeat="(key, genre) in movie.genre_ids">{{genre}} (traité TpH : {{ genreList[genre] }} )</li></ul></p>
                        <p>vote_average : {{movie.vote_average}}</p>
                        <p>original_language : {{movie.original_language}}</p> -->
                         <h4 class"title-details">{{movie.release_date | limitTo:4}}</h4>
                       <!--  <p>overview : {{movie.overview}}</p>
                        <p>popularity : {{movie.popularity}}</p>
                        <p>video : {{movie.video}}</p>
                        <p>vote_average : {{movie.vote_average}}</p>
                        <p>vote_count : {{movie.vote_count}}</p> -->
                        <!-- <button class="btn btn-primary" ng-click="showMovie(movie.id)">Regarder</button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

<button class="btn btn-primary" ng-click="showMoreMovies(page)" style="margin:0 auto"> Voir plus de films ! </button>
    </div>

</div>
