<div class="topbar-phone">
    <img id="burger-menu" src="images/burger-menu.png" class="burger-menu"/>
    <img src="images/logo-netmedia-ok.png" class="logo-phone"/>
</div>

<div class="contentBigTvMovie">

    <div class="panel-heading slidebox">

        <div class="cbp-spmenu-push">

            <nav class="cbp-spmenu cbp-spmenu-vertical" id="cbp-spmenu-s1" >

                <img src="images/logo-netmedia-ok.png" class="logo-accueil"/>

                <div class="menu-navigation">

                    <a class="selected" href="#/films" style="color:#000">FILMS</a>
                    <a class="" href="#/series">SÉRIES</a>

                </div>

                <br/><br/><br/>
                <div class="user">
                    <img class="user-img" src="images/placeholder.png"/>
                    <div class="user-name">{{user.email}}</div>
                </div>

            </nav>

        </div>


    </div>

    <div class="mainContentPageTvMovie">

         <div class="headerContent">

            <div class="gradient"></div>

            <div class="backdropImg" ng-if="movie.backdrop_path!=null" style="background-image:url(http://image.tmdb.org/t/p/w1280{{movie.backdrop_path}})"></div>
            <div class="backdropImg" ng-if="movie.backdrop_path==null" style="background-image:url(http://www.hdwallpapers.in/walls/fantasy_space-wide.jpg)"></div>

        </div>

        <div class="titleTvMovieContener">

                <h2 class="titleTvMovies">{{movie.title}}</h2>

        </div>
        <div class="infoTvMovie">

            <div class="posterContentTvMovie">

              <img ng-if="movie.poster_path!=null" src="http://image.tmdb.org/t/p/w500{{movie.poster_path}}" class="image-thumbnail">
              <img ng-if="movie.poster_path==null" src="http://image.eiga.k-img.com/images/buzz/29346/darthvader.jpg" class="image-thumbnail">

            </div>

            <div class="contentTvMovieInfo">

                <div class="detailTvMovie regularFont">

                    <span>
                        <label class="castBy">Date de sortie :</label> {{movie.release_date}}
                    </span>
                    <br/><br/><br/>
                    <label class="castBy">Genres :</label>
                    <span ng-repeat="(key, genre) in movie.genres | limitTo:3"> {{genre.name}} </span><br/><br/><br/>
                    <span>
                        <label class="castBy">Durée :</label> {{movie.runtime}} min
                    </span>

                </div>

                <div class="regularFont"> <label class="castBy">Nombre de vues :</label>{{movie.popularity}}
                </div>
                <div class="castings">
                    <label class="castBy">Réalisé par :</label>
                    <span class="fontRegular" ng-repeat="(key, crew) in movie.credits.crew"  ng-if='crew.job=="Director"'>{{crew.name }} </span><br /><br /><br />
                    <label class="castBy">Avec :</label>
                    <div class="castActor">
                        <span class="fontRegular" ng-repeat="(key, role) in movie.credits.cast | limitTo: 4">{{role.name}}, </span>
                    </div>
                </div>

            </div>


        </div>
            <div class="userActionMovie clearfix">
                    <a href = ""><div class="favoriteAdd fontRegular" ng-click="addFavoris(movie.id.id)">Ajouter aux favoris</div></a>
                    <!-- <a href=""><div class="reloadMovie fontRegular">Reprendre la lecture</div></a> -->
            </div>


        <div class="contentSynopsisTvMovie clearfix">
            <div class="synopsisFont fontRegular">Synopsis</div>
            <p class="resumeTvMovie fontRegular">{{movie.overview}}</p>
        </div>

    <div ng-repeat="(key, result) in movie.videos.results" class="video-youtube">
        <youtube  code='result.key'>{{result.key}}</youtube>
    </div>

    </div>
</div>
<script type="text/javascript">

$("#burger-menu").click(function () {
   $('.slidebox').slideToggle();
});
</script>
