<div class="panel panel-primary">


  <!--   <div class="panel-heading">
        <h3 class="panel-title panel-title title--inline">Liste des Films Populaires</h3>
        <span class="dropdown pull-right">
            <a href="" class="dropdown-toggle" data-toggle="dropdown">Filtrer <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li
                    ng-class="{disabled: query.order == 'name'}"
                    ng-click="changeOrder('name')">
                        <a href="">Action</a>
                </li>
                <li
                    ng-class="{disabled: query.order == 'age'}"
                    ng-click="changeOrder('age')">
                        <a href="">Aventure</a>
                </li>
                <li
                    ng-class="{disabled: query.order == 'status'}"
                    ng-click="changeOrder('status')">
                        <a href="">Comédie</a>
                </li>
            </ul>
        </span>
    </div> -->

    <div class="panel-body">

        <movie-block ng-repeat="movie in movies.results | orderBy: query.order" movie="movie"></movie-block>

    </div>

</div>
