<div class="contentBigTvMovie">
    
    <div class="panel-heading">
        
        <div class="cbp-spmenu-push">

            <nav class="cbp-spmenu cbp-spmenu-vertical" id="cbp-spmenu-s1" >
                
                <img src="images/logo-netmedia-ok.png" class="logo-accueil"/>
                
                <div class="menu-navigation">
                    
                    <a class="selected" href="#/films" style="color:#000">FILMS</a>
                    <a class="" href="#/series">SÉRIES</a>

                </div>
                
                <div class="filters filters-menu-left">
                    <label class="genre">Genre : </label>
                    <select class="form-control" 
                            ng-change="genre(value)"
                            ng-model="value"
                            ng-options="genre.id as genre.name for genre in listGenre.genres"
                    >
                    <option value="">Tous</option>
                    </select><br/><br/><br/><br/>
                    <label class="genre">Trier par : </label>
                    <select
                            ng-change="category(value,1)" 
                            ng-model="value"
                            ng-options="key as value for (key, value) in categories"
                        >
                        <option value="">Tous</option>
                    </select>
                </div>

                <br/><br/><br/>

                <div class="search">
                    <input  class="btn" style="width:92%"
                        ng-change="search(searchValue)"
                        ng-model="searchValue" type="search">
                </div>

                <br/><br/><br/><br/>
                
                <div class="user">
                    <img class="user-img" src="images/placeholder.png"/>
                    <div class="user-name">User Name</div>
                </div>
            
            </nav>

        </div>

    </div> 
        
    <div class="mainContentPageTvMovie">
         
         <div class="headerContent">
            
            <div class="gradient"></div>
            
            <div class="backdropImg" style="background-image:url(http://image.tmdb.org/t/p/w1280{{movie.backdrop_path}})"></div>

        </div>

        <div class="titleTvMovieContener">
                
                <h2 class="titleTvMovies">{{movie.title}}</h2>
                
        </div>

        <div class="infoTvMovie">

            <div class="posterContentTvMovie">
                
                <img class="posterImgTvMovie" ng-src="http://image.tmdb.org/t/p/w342{{movie.poster_path}}"/>
            
            </div>
   
            <div class="contentTvMovieInfo">

                <ul class="detailTvMovie regularFont">

                    <li>{{movie.release_date}}</li>
                    <li ng-repeat="(key, genre) in movie.genres | limitTo:1">{{genre.name}}</li>
                    <li>{{movie.runtime}}</li>

                </ul>

                <br />
                
                <div class="popularityStar regularFont">{{movie.popularity}}
                </div>
                <div class="castings">
                    <label class="castBy">Réalisé par :</label>
                    <span class="fontRegular" ng-repeat="(key, crew) in movie.credits.crew"  ng-if='crew.job=="Director"'>{{crew.name }} </span><br /><br /><br />
                    <label class="castBy">Avec :</label>
                    <div class="castActor">
                        <span class="fontRegular" ng-repeat="(key, role) in movie.credits.cast | limitTo: 4">{{role.name}}, </span>
                    </div>
                </div>
                <div class="userActionMovie clearfix">
                    <a href = "#"><div class="favoriteAdd fontRegular">Ajouter aux favoris</div></a>
                    <a href = "#"><div class="reloadMovie fontRegular">Reprendre la lecture</div></a>
                </div>

            </div>

        </div>

         <div class="contentSynopsisTvMovie clearfix">
            <div class="synopsisFont fontRegular">Synopsis</div>
            <p class="resumeTvMovie fontRegular">{{movie.overview}}</p>
            </div>
        </div>

</div>