<nav class="cbp-spmenu cbp-spmenu-vertical" id="cbp-spmenu-s1">
		<img src="images/logo-netmedia-ok.png" class="logo-accueil"/>
		<div class="menu-navigation">
			<div class="user-pic"></div>

			<h3 class="user-name-profil"></h3>
				<a class="selected" href="#/films" style="color:#000">FILMS</a>
				<a class="" href="#/series">SÉRIES</a>
		</div>
		</div>
</nav>

			<section class="content">



				<div class="favorisFilm">

					<h2 class="myTop-Flop">Films Favoris</h2>

						<div class="content-favoris">

							<div class="thumb-fav" ng-repeat="movie in favorismovie">

								<a href="#/movie/{{movie}}"><h1>{{movies[movie].title}}</h1>
								<img src="http://image.tmdb.org/t/p/w185{{movies[movie].poster_path}}"></a>
							</div>

						</div>

				</div>

			


							<div class="favorisSerie">

								<h2 class="myTop-Flop">Séries favorites</h2>

									<div class="content-favoris">

										<div class="thumb-fav" ng-repeat="serie in favorisserie">

								<a href="#/serie/{{serie}}">{{series[serie].name}}
								<img src="http://image.tmdb.org/t/p/w185{{series[serie].poster_path}}"></a>
							</div>

									</div>

							</div>

						</section>
