<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="author" content="www.frebsite.nl" />
		<meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes" />
    <!-- <link type="text/css" rel="stylesheet" href="profil.css" /> Si Sass ne fonctionne pas -->
		<link type="text/css" rel="stylesheet" href="dist/css/main.css" />

		<title>NetMadia - Votre profil</title>

	</head>
	<body>

      <section class="sidebar">

        <div class="user-pic"></div>

        <h3 class="user-name-profil">{{user.name}}</h3><br>
       
        <h3 class="user-name-profil">{{user.email}}</h3><br>
        <h3 class="user-name-profil">{{user.bithday}}</h3><br>
        <h3 class="user-name-profil">{{user.gender}}</h3><br>

        <hr />

        <p class="user-bio">This is my bio. This is my bio.This is my bio. This is my bio. This is my bio. This is my bio. This is my bio. This is my bio. This is my bio. This is my bio. This is my bio. This is my bio. This is my bio. This is my bio. This is my bio. This is my bio. This is my bio. </p>

        <div class="social-content">

          <div class="social-icon"><img src="images/facebook44.svg" width="30px"></div>
          <div class="social-icon"><img src="images/twitter.svg" width="30px"></div>
          <div class="social-icon"><img src="images/google-plus.svg" width="30px"></div>
          <div class="social-icon"><img src="images/facebook44.svg" width="30px"></div>

        </div>

      </section>

			<section class="content">


				<h1 class="title-details">Films</h1>
				<a href="#"><h1 class="tab-top-flop">Séries <img src="images/arrow-right.svg" width="15px"></h1></a>

				<hr class="subtitle"></hr>
				<div class="profilContainerTopFlop">
				<div class="top">

					<div class="picto-top"><img src="images/top.png" width="30px"></div><h2 class="myTop-Flop">Mon Top<h2>

						<div class="thumb"></div>
						<div class="thumb"></div>
						<div class="thumb"></div>
						<div class="thumb"></div>
						<div class="thumb"></div>


				</div>

				<div class="flop">

					<div class="picto-top"><img src="images/flop.png" width="40px"></div><h2 class="myTop-Flop">Mon Flop<h2>

						<div class="thumb"></div>
						<div class="thumb"></div>
						<div class="thumb"></div>
						<div class="thumb"></div>
						<div class="thumb"></div>


				</div>
			</div>
				<div class="favoris">

					<div class="picto-top"><img src="images/flop.png" width="40px"></div><h2 class="myTop-Flop">Favoris</h2>

						<div class="content-favoris">

							<div class="thumb-fav"></div>
							<div class="thumb-fav"></div>
							<div class="thumb-fav"></div>
							<div class="thumb-fav"></div>
							<div class="thumb-fav"></div>
							<div class="thumb-fav"></div>

						</div>

				</div>

		</section>

	</body>
</html>
