<div class="panel panel-primary">

    <div class="panel-heading">
        <h3 class="panel-title panel-title title--inline">Fiche Info</h3>
    </div>

    <div class="panel-body panel-body">
        <div>

            <img class="thumbnail thumbnail--inline" ng-src="http://image.tmdb.org/t/p/w500{{serie.poster_path}}" /> 
            <hr>
            <img class="thumbnail thumbnail--inline" ng-src="http://image.tmdb.org/t/p/w500{{serie.backdrop_path}}" /> 
            <span class="bloc-hero" ng-switch on="serie.status">
                <h3>{{serie.id}}</h3>
                <h4>{{serie.name}}</h4>
                <p>{{serie.overview}}</p>
                <p> saisons : 
                 <span ng-repeat="(key, season) in serie.seasons">
                    {{season.season_number}}
                </span>
            </li>
            </span>

            <div class="btn-group pull-right">
                <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                    Modifier Statut <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" change-status>
                    <li ng-click="updateStatus(0)" ng-class="{disabled: serie.status == 0}"><a>Disponible</a></li>
                    <li ng-click="updateStatus(1)" ng-class="{disabled: serie.status == 1}"><a>Occupé(e)</a></li>
                    <li ng-click="updateStatus(2)" ng-class="{disabled: serie.status == 2}"><a>Blessé(e)</a></li>
                </ul>
            </div>

        </div>
        <button class="btn-back btn btn-primary" ng-click="back()">Retour à la liste</button>
        <div ng-show="alert == 'success'" class="alert alert-success"><strong>Statut modifié!</strong></div>
        <div ng-show="alert == 'error'" class="alert alert-danger"><strong>Echec !</strong></div>
    </div>
</div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title panel-title title--inline">Infos de l'Api [serie/id] (TPH)</h3>
        </div>

        <ul>
           
            <li><label>name : </label> {{serie.name}}</li>
            <li><label>backdrop_path : </label> 

            <img class="thumbnail thumbnail--inline" ng-src="http://image.tmdb.org/t/p/w500{{serie.backdrop_path}}" /> </li>
            <li><label>created_by : </label> 
                 <ul ng-repeat="(key, creat) in serie.created_by">
                    <li><label>array :</label> {{key}}<ul>
                        <li><label>id :</label> {{creat.id}}</li>
                        <li><label>name :</label> {{creat.name}}</li>
                        <li><img class="thumbnail thumbnail--inline" ng-src="http://image.tmdb.org/t/p/w500{{creat.profile_path}}" /></li></ul></li>
                </ul>
            </li>
            <li><label>episode_run_time : </label> {{serie.episode_run_time}}</li>
            <li><label>first_air_date : </label> {{serie.first_air_date}}</li>
            <li><label>genres : </label> 
                 <ul ng-repeat="(key, genre) in serie.genres">
                    <li><label>array :</label> {{key}}<ul>
                        <li><label>id :</label> {{genre.id}}</li>
                        <li><label>name :</label> {{genre.name}}</li>
                        </ul></li>
                </ul>
            </li>
            <li><label>homepage : </label> {{serie.homepage}}</li>
            <li><label>in_production : </label> {{serie.in_production}}</li>
            <li><label>languages : </label> {{serie.languages}}</li>
            <li><label>id : </label> <ul><li>
                {{serie.id}}</li></ul></li>
            <li><label>imdb_id : </label> {{serie.imdb_id}}</li>
            <li><label>last_air_date : </label> {{serie.last_air_date}}</li>
            <li><label>original_language : </label> {{serie.original_language}}</li>
            <li><label>original_title : </label> {{serie.original_title}}</li>
            <li><label>overview : </label> {{serie.overview}}</li>
            <li><label>popularity : </label> {{serie.popularity}}</li>
            <li><label>poster_path : </label> 
            <img class="thumbnail thumbnail--inline" ng-src="http://image.tmdb.org/t/p/w500{{serie.poster_path}}" /></li>
            <li><label>networks : </label>                 
                 <ul ng-repeat="(key, network) in serie.networks">
                    <li><label>array :</label> {{key}}<ul>
                        <li><label>id :</label> {{network.id}}</li>
                        <li><label>name :</label> {{network.name}}</li></ul></li>
                </ul>
            </li>

            <li><label>number_of_seasons : </label> {{serie.number_of_seasons}}</li>
            <li><label>number_of_episodes : </label> {{serie.number_of_episodes}}</li>


            <li><label>seasons : </label>
                 <ul ng-repeat="(key, season) in serie.seasons">
                    <li><label>array :</label> {{key}}<ul>
                        <li><label>air_date :</label> {{season.air_date}}</li>
                        <li><label>episode_count :</label> {{season.episode_count}}</li>
                        <li><label>name :</label> {{season.id}}</li>
                        <li><label>img :</label> <img class="thumbnail thumbnail--inline" ng-src="http://image.tmdb.org/t/p/w500{{season.poster_path}}" /></li>
                        <li><label>name :</label> {{season.season_number}}</li></ul></li>
                </ul>
            </li>
            <li><label>status : </label> {{serie.status}}</li>
            <li><label>type : </label> {{serie.type}}</li>
            
            <li><label>production_companies : </label> {{production_companies}}
            </li>
            <li><label>status : </label> {{serie.status}}</li>            
            <li><label>vote_average : </label> {{serie.vote_average}}</li>
            <li><label>vote_count : </label> {{serie.vote_count}}</li>

        </ul>

             <div class="panel-heading">
            <h3 class="panel-title panel-title title--inline">Infos de l'Api [serie/id/similar] (TPH)</h3>
        </div>

        <ul>
            <li><label>page :</label> {{similar.page}}</li>
                <ul ng-repeat="(key, result) in similar.results">
                    <li><label>array :</label> {{key}}<ul>
                        <li><label>id :</label> {{result.id}}</li>
                        <li><label>backdrop_path :</label> 
                        <img class="thumbnail thumbnail--inline" ng-src="http://image.tmdb.org/t/p/w500{{result.backdrop_path}}" />
                        </li>
                        <li><label>first_air_date :</label> {{result.first_air_date}}</li>
                        <li><label>origin_country :</label> {{result.origin_country}}</li>
                        <li><label>name :</label> {{result.name}}</li>
                        <li><label>original_name :</label> {{result.original_name}}</li>
                        <li><label>popularity :</label> {{result.popularity}}</li>
                        <li><label>vote_average :</label> {{result.vote_average}}</li>
                        <li><label>vote_count :</label> {{result.vote_count}}</li></ul></li>
                </ul>
            </li>
        </ul>
        

         <div class="panel-heading">
            <h3 class="panel-title panel-title title--inline">Infos de l'Api [serie/id/alternative_titles] (TPH)</h3>
        </div>


        <ul>
            <li><label>id :</label> {{alternative_titles.id}}</li>
                <ul ng-repeat="(key, result) in alternative_titles.results">
                    <li><label>cast (array) :</label> {{key}}<ul>
                        <li><label>title :</label> {{result.title}}</li>
                        <li><label>iso_3166_1 :</label> {{result.iso_3166_1}}</li>                    
                        </ul></li>
                </ul>
            </li>
        </ul>
    </ul>
         <div class="panel-heading">
            <h3 class="panel-title panel-title title--inline">Infos de l'Api [serie/id/changes] (TPH)</h3>
        </div>

        {{changes}}
        <ul>
            <li><label>id :</label> {{changes.id}}</li>
                <ul ng-repeat="(key, result) in changes.results">
                    <li><label>cast (array) :</label> {{key}}<ul>
                        <li><label>iso_3166_1 :</label> {{result.iso_3166_1}}</li>
                        <li><label>rating :</label> {{result.rating}}</li>                    
                        </ul></li>
                </ul>
            </li>
        </ul>

         <div class="panel-heading">
            <h3 class="panel-title panel-title title--inline">Infos de l'Api [serie/id/content_ratings] (TPH)</h3>
        </div>

<ul>
            <li><label>id :</label> {{content_ratings.id}}</li>
                <ul ng-repeat="(key, result) in content_ratings.results">
                    <li><label>cast (array) :</label> {{key}}<ul>
                        <li><label>iso_3166_1 :</label> {{result.iso_3166_1}}</li>
                        <li><label>rating :</label> {{result.rating}}</li>
                        </ul></li>
                </ul>
            </li>
        </ul>
         <div class="panel-heading">
            <h3 class="panel-title panel-title title--inline">Infos de l'Api [serie/id/credits] (TPH)</h3>
        </div>


        <ul>
            <li><label>id :</label> {{credits.id}}</li>
                <ul ng-repeat="(key, result) in credits.cast">
                    <li><label>cast (array) :</label> {{key}}<ul>
                        <li><label>id :</label> {{result.id}}</li>
                        <li><label>character :</label> {{result.character}}</li>
                        <li><label>credit_id :</label> {{result.credit_id}}</li>
                        <li><label>name :</label> {{result.name}}</li>
                        <li><label>order :</label> {{result.order}}</li>
                        </ul></li>
                </ul>
            </li>
        </ul>
        
         <div class="panel-heading">
            <h3 class="panel-title panel-title title--inline">Infos de l'Api [serie/id/external_ids] (TPH)</h3>
        </div>


        <ul>
            <li><label>id :</label> {{external_ids.id}}</li>
            <li><label>imdb_id :</label> {{external_ids.imdb_id}}</li>
            <li><label>freebase_mid :</label> {{external_ids.freebase_mid}}</li>
            <li><label>freebase_id :</label> {{external_ids.freebase_id}}</li>
            <li><label>tvdb_id :</label> {{external_ids.tvdb_id}}</li>
            <li><label>tvrage_id :</label> {{external_ids.tvrage_id}}</li>
        </ul>
         <div class="panel-heading">
            <h3 class="panel-title panel-title title--inline">Infos de l'Api [serie/id/images] (TPH)</h3>
        </div>

 
     <ul>
            <li><label>id :</label> {{images.id}}</li><li>
                <ul ng-repeat="(key, backdrop) in images.backdrops">
                    <li><label>Backdrop (array) :</label> {{key}}<ul>
                        <li><label>aspect_ratio :</label> {{backdrop.aspect_ratio}}</li>
                        <li><label>file_path :</label> 
                        <img class="thumbnail thumbnail--inline" ng-src="http://image.tmdb.org/t/p/w500{{backdrop.file_path}}" /></li>
                        <li><label>height :</label> {{backdrop.height}}</li>
                        <li><label>width :</label> {{backdrop.width}}</li>
                        <li><label>iso_639_1 :</label> {{backdrop.iso_639_1}}</li>
                        <li><label>vote_average :</label> {{backdrop.vote_average}}</li>
                        <li><label>vote_count :</label> {{backdrop.vote_count}}</li></ul></li>
                        </ul></li><li>
                <ul ng-repeat="(key, poster) in images.posters">
                    <li><label>Poster (array) :</label> {{key}}<ul>
                    
                        <li><label>aspect_ratio :</label> {{poster.aspect_ratio}}</li>
                        <li><label>file_path :</label> <img class="thumbnail thumbnail--inline" ng-src="http://image.tmdb.org/t/p/w500{{poster.file_path}}" /> </li>
                        <li><label>height :</label> {{poster.height}}</li>
                        <li><label>width :</label> {{poster.width}}</li>
                        <li><label>iso_639_1 :</label> {{poster.iso_639_1}}</li><li><label>id :</label> {{poster.id}}</li>
                        <li><label>vote_average :</label> {{poster.vote_average}}</li>
                        <li><label>vote_count :</label> {{poster.vote_count}}</li></ul></li>
                    </ul></li>
            </li>
        </ul>
         <div class="panel-heading">
            <h3 class="panel-title panel-title title--inline">Infos de l'Api [serie/id/keywords] (TPH)</h3>
        </div>


        <ul>
            <li><label>id :</label> {{keywords.id}}</li>
            <li><ul ng-repeat="(key, result) in keywords.results">
                <li><label>id :</label> {{result.id}}</li>
            <li><label>name :</label> {{result.name}}</li>
                </ul></li>
        </ul>

         <div class="panel-heading">
            <h3 class="panel-title panel-title title--inline">Infos de l'Api [serie/id/translations] (TPH)</h3>
        </div>

        <ul>
            <li><label>id :</label> {{translations.id}}</li>
            <li><ul ng-repeat="(key, translation) in translations.translations">
                <li><label>iso_639_1 :</label> {{translation.iso_639_1}}</li>
                
            <li><label>name :</label> {{translation.name}}</li>
            <li><label>english_name :</label> {{translation.english_name}}</li>
            </ul></li>
        </ul>

         <div class="panel-heading">
            <h3 class="panel-title panel-title title--inline">Infos de l'Api [serie/id/videos] (TPH)</h3>
        </div>
        <ul>
            <li><label>id :</label> {{videos.id}}</li>
            <li> array : <ul ng-repeat="(key, result) in videos.results">
                
                <li><label>iso_639_1 :</label> {{result.iso_639_1}}</li>
                <li><label>id :</label> {{result.id}}</li>
                <li><label>key :</label> {{embed}}</li>
                <li><label>name :</label> {{result.name}}</li>
                <li><label>site :</label> {{result.site}}</li>
                <li><label>size :</label> {{result.size}}</li>
                <li><label>type :</label> {{result.type}}</li>
            </ul></li>
        </ul>

         <div class="panel-heading">
            <h3 class="panel-title panel-title title--inline">Infos de l'Api [serie/id/back] (TPH)</h3>
        </div>

        {{back}}
    </div>