<div class="contentBigTvMovie container page-header">

    <div class="panel-heading">

        <div class="cbp-spmenu-push">
        
            <nav class="cbp-spmenu cbp-spmenu-vertical" id="cbp-spmenu-s1" >
                
                <img id="showLeft" src="images/burger-menu.png"/ class="burger-menu"/>

                <img src="images/logo-netmedia-ok.png" class="logo-accueil"/>

                <div class="menu-navigation">

                    <a class="selected" href="#/films" style="color:#000">FILMS</a>
                    <a class="" href="#/series">SÉRIES</a>

                </div>

                <br/><br/><br/><br/>

                <div class="user">
                    <img class="user-img" src="images/placeholder.png"/>
                    <div class="user-name">User Name</div>
                </div>
            
            </nav>                        

        </div>

    </div> 

    <div class="mainContentPageTvMovie">

        <div class="headerContent">

            <div class="gradient"></div>
    
            <div class="backdropImg" style="background-image:url(http://image.tmdb.org/t/p/w1280{{serie.backdrop_path}})"></div>     

        </div>

        <div class="titleTvMovieContener">
                
            <h2 class="titleTvMovies">{{serie.name}}</h2>
                
        </div>

        <div class="infoTvMovie clearfix">

            <div class="posterContentTvMovie">

                <img class="posterImgTvMovie" ng-src="http://image.tmdb.org/t/p/w342{{serie.poster_path}}"/>

            </div>
            
        <div class="contentTvMovieInfo">
            
            <div class="detailTvMovie regularFont">
                
                <span>
                    <label class="castBy">Date de sortie :</label>{{serie.first_air_date}} 
                </span>
                <br/><br/><br/>
                <label class="castBy">Genres :</label>
                <span ng-repeat="(key, genre) in serie.genres | limitTo:3"> {{genre.name}} </span>
                <span>
                    {{serie.runtime}} 
                </span>

            </div>

            <div class=" regularFont"><label class="castBy">Nombre de vues :</label>{{serie.popularity}}
            </div>
            
            <div class="castings">

                <label class="castBy">Réalisé par :</label>
                <span class="fontRegular" ng-repeat="real in serie.created_by" >{{real.name}}, </span><br /><br /><br />
                <label class="castBy">Avec :</label>
                <div class="castActor">
                    <span class="fontRegular" ng-repeat="(key, role) in serie.credits.cast | limitTo: 4">{{role.name}}, </span>
                </div>

            </div>
            <div class="actionInternaute">
                    <a href = "#"><div class="favoriteAdd fontRegular">Ajouter aux favoris</div></a>
                    <a href = "#"><div class="reloadMovie fontRegular">Reprendre la lecture</div></a>
            </div>
        </div>

    </div>




    <div class="bigContentPageTvMovie clearfix">

        <div class="contentSynopsisTvMovieMarge">
            
        <div class="synopsisFont fontRegular">Synopsis</div>


            <p class="resumeTvMovieSerie fontRegular">{{serie.overview}}</p>
            <div class="seasonSelectBarSerie">
                <hr align="center" class="separatorsSeason"/>
            
                <h4 class="seasonFont">Saison</h4>

                <a href ng-repeat="(key, season) in serie.seasons"  ng-click="showSeason(season.season_number)"  class="seasonNumberFont regularFont">{{season.season_number}}</a>
            
                <hr align="center" class="separatorsSeason" />
            </div>

        </div>
            
            <div class="contentEpisode">
                
                    
                    <div class="contentEpisodeMarge" ng-repeat="(key, episode) in serieSeason.episodes" >

                            <a href id="episodeFontTv " class="episodeFontTv" class="regularFont " ng-click="showDetails=! showDetails
                            ">

                                <span class="fontEpisodeTvSerie regularFontScndColor">Episode {{episode.episode_number}} :</span>
                                <span class="fontNameEpisode regularFontItalic">{{episode.name}}</span>

                            </a>
                        
                            <div class="contentEpisodeOverview regularFontOverviewEpisode" ng-show="showDetails">
                                {{episode.overview}}
                            </div>

                        <hr align="center" class="separatorsEpisode" />
                    
                        </div>
                
                </div>

        </div>
    
    </div>

</div>
